/************************************/
/********** RESET CSS ***************/
/************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.myBgColor1 {
    background-color: #2b2828;
}
/************************************/
/********** MAIN CSS **************/
/************************************/
div#myGrid {
    height: calc(100vh - 6.7244rem);
    margin: 0 auto;
    padding: 3.125rem;
}

div#myGrid .myBox1 {
    width: calc(100% / 7);
    height: calc(100% / 7);
    background-color: #d3ba88;
    border: 2px rgb(211, 135, 205) solid;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div#myGrid .myBox2 {
    width: calc(100% / 9);
    height: calc(100% / 9);
    background-color: #7bc48d;
    border: 2px rgb(144, 167, 211) solid;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div#myGrid .myBox3 {
    width: calc(100% / 10);
    height: calc(100% / 10);
    background-color: #7141ab;
    border: 2px rgb(185, 178, 178) solid;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div#myGrid .myBox1.myClicked,
div#myGrid .myBox2.myClicked,
div#myGrid .myBox3.myClicked{
    background-color: #bd3f18;
}

/* link css */
h3 > a {
    text-decoration: none;
    color: #266dd6;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #ffffff;
}




